/* ==UserStyle==

--= Theme Stuff =--
@name                                                                                 AddonPack+
@version                                                                                   4.0.0
@description   Comfy With a Bunch of Snippets from The Powercord, Open Styles, & Comfy Community
@license                                                                                 CC0-1.0
@homepageURL                                      https://github.com/TheRealGWJosh/AddonPackPlus
@updateURL                                       https://userstyles.world/api/style/110.user.css
@supportURL                                https://github.com/TheRealGWJosh/AddonPackPlus/issues 

--= Stylus Stuff =--
@preprocessor                                                                                uso

--= Author Stuff =--
@author                                                 It'sJustJosh#2812 - (362628885361197056)
@namespace                                                   github.com/openstyles/TheRealGWJosh

--=Imports/Selects/Other=--
@var select comfy "Comfy Theme On/Off" {
"On":                        "https://therealgwjosh.github.io/AddonPackPlus/src/Comfy/vars.css",
"Off":                                                                                   "none"}
@var select addon "AddonPack On/Off" {
"On":                              "https://therealgwjosh.github.io/AddonPackPlus/src/main.css",
"Off":                                                                                   "none"}
@var select font "Custom Font" {
"Off":                                                                                   "none",
"On":                "https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Custom-Font.css"}
@var select url "Watermark Type" {
"On":                    "https://project-browser.github.io/Workmark-Plus/src/CustomImport.css",
"Off":                                                                                   "None"}
@var select cbg "UnFocused Background" {
"On":                "https://therealgwjosh.github.io/AddonPackPlus/src/Addons/UnfocusedBG.css",
"Off":                                                                                   "None"}
@var select bfi "Bonfire Image" {
"On":                                        "https://nyri4.github.io/Comfy/assets/bonfire.gif",
"Off":                                                                                   "None"}
@var select gs "Emoji Grayscale" {
"Off":                                                                                     "0%",
"On":                                                                                    "100%"}
@var text  tm "Discord  Text"                     "'Discord - Themed By Stylus - AddonPack+ V4'"
@var text csbg "Status Picker Image"                             https://i.imgur.com/ODa8LKK.jpg

--=Text Vars=--
@var text str "Status Radius"                                                                3px
@var text svr "Server Radius"                                                                8px
@var text ar "Avatar Radius"                                                                 5px

--=Color Vars=--
@var color mc "Mention color"                                                            #7289da
@var color idd "Iddle Color"                                                             #FAA61A
@var color dnd "DND Color"                                                               #F04747
@var color off "Offline Color"                                                           #747F8D
@var color lf "Light Focused"                                                            #5568a6
@var color df "Dark  Focused"                                                            #7289DA
@var color ln "Light  Normal"                                                            #313232
@var color dn "Dark   Normal"                                                            #66696a

==/UserStyle== */ @-moz-document domain("discord.com"){ /*
===================================================================================================
                                Import Source Code
===================================================================================================
*/
@import                url(/*[[comfy]]*/);
@import                url(/*[[addon]]*/);
@import                 url(/*[[font]]*/);
@import                  url(/*[[url]]*/);
@import                  url(/*[[cbg]]*/);
/*
====================================================================================================
                                  Theme Variables
====================================================================================================
*/:root{
/* Mention color */
--mention-color:               /*[[mc]]*/;
/* Status color */
--iddle:                      /*[[idd]]*/;
--dnd:                        /*[[dnd]]*/;
--offline:                    /*[[off]]*/;
/* Avatar roundess */
--avatar-radius:               /*[[ar]]*/;
/* Status roundness */
--status-radius:              /*[[str]]*/;
/* Server roundess */
--server-radius:              /*[[svr]]*/;
/* Colored emoji picker */
--colored-emoji:    grayscale(/*[[gs]]*/);
/* Custom */
--bonfire:             url("/*[[bfi]]*/");
--status-background:  url("/*[[csbg]]*/");
--csbg:var(--status-background)!important;
/* Wordmark+ */
--textmark:                    /*[[tm]]*/;
--lightfocused:                /*[[lf]]*/;
--lightnormal:                 /*[[ln]]*/;
--darkfocused:                 /*[[df]]*/;
--darknormal:                  /*[[dn]]*/; 
}/*
=====================================================================================================
                Please place any Theme-specific Custom CSS Below here
=====================================================================================================
*/}
