@import "https://nyri4.github.io/Comfy/betterdiscord/main.css";
@import "https://therealgwjosh.github.io/AddonPackPlus/src/Addons/UserButtons.css";


:root{ 
/* User button spacing */
--user-buttons-spacing: 1px;
--user-buttons-padding: 30px 0 60px 0 ;
/* Avatar position */
--avatar-left: 17.5px;
--avatar-bottom: 12.0px;
/* Avatar width in modals */
--avatar-width: 130px;
/* Circles next to role names */
--role-circle: 5px;
/* CUSTOM */
--csbg:var(--status-background)!important; 
/* Spotify plugin seek bar */
--spotify-color: #1EDC6;
/* Tooltips */
--tooltips: block;
/* Set it to "none" if you don't want it */
/* Discord logo */
--discord-logo: block;
/* Status color */
--online: var(--mention-color);
/* Chat buttons color */
--chat-buttons: var(--mention-color);
/* Mention color in chat */
--mention-color-bar: var(--mention-color);
--mention-color-background: var(--mention-color);
--mention-color-hover: #7289da26;
/* User settings color (Mute, Deafen and settings) */
--user-buttons-color: var(--mention-color);
/* Mention color */
--unread-color: var(--mention-color); 
}
.theme-dark {
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --background-mobile-primary: #23283d;
    --channeltextarea-background: #191f2e;
    --background-accent: #6E85D3;
    --background-message-hover: transparent;
    --background-modifier-hover: #1c2030;
    --background-modifier-active: #1a1e2e;
    --background-modifier-selected: #191f2e;
    --deprecated-card-bg: #12141f63;
    --background-floating: #101320;
    --deprecated-quickswitcher-input-background:#101320;
    --elevation-low: none;
    --scrollbar-auto-thumb: #121722;
    --scrollbar-auto-track: #191f2e;
    --scrollbar-thin-thumb: #141925;
    --activity-card-background: #101320;}
.theme-light {
/* If You Change Dark Themes Color Leave This Alone */
/* I don't support light theme it's just for the "Create a server" popup */
--background-tertiary: #101320;
--background-secondary: #1e2233;
--background-secondary-alt: #191f2e;
--background-primary: #23283d;
--background-accent: #6E85D3;
--background-modifier-hover: #262b41;
--background-modifier-active: #262b41;
--header-primary: #fff;
--header-secondary: #b1b5b9;
--text-normal: #8e9297; }

/* LOL I'm TOO LAZY TO HOST MY OWN VERSION */
.theme-dark {--background-message-hover: transparent; --elevation-low: none;}

.list-2luk8a.listDefault-3ir5aS {
    padding: 0 0 0 6px;
    margin-left: 8px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.content-1Wq3SX .username-3KYl0N {margin-left: 4px}
.content-1Wq3SX .botTag-2WPJ74 {display: none}
.content-1Wq3SX .avatar-3tNQiO,
.audienceVoiceUserIconContainer-29oflP {margin-right: 0; margin-left: 0}
.audienceVoiceUserText-BhGzmw {
    font-size: 12px; 
    margin-left: 4px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.live-vBWnV6 {
    font-size: 0;
    border-radius: 50%;
    min-height: 8px;
    min-width: 8px;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.avatarWrapper-2yR4wp[aria-expanded="true"] .wrapper-3t9DeA:before {
  content: '';
  position: absolute;
  top: -8px;
  left: -75px;
  width: 210px;
  height: 120px;
  pointer-events: none;
  background-color: var(--background-secondary-alt);
  background-image: var(--user-background, var(--status-background)) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  -webkit-mask: linear-gradient(black, transparent 100%);
  mask: linear-gradient(black, transparent 100%);
  opacity: 0.8;
}

/* No scrollbars */
::-webkit-scrollbar { display: none !important;}.note-3HfJZ5 { margin-right: 0; }.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.member-3-YXUe, [id*="private-channels-"] { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;}.content-1LAB8Z, .item-1tOPte { margin-right: 8px;}.scroller-2hZ97C { padding-left: 0;}.scroller-2hZ97C > .content-3YMskv, .buttons-3JBrkn, .messagesPopout-24nkyi { padding-right: 10px !important; }.inviteRow-2L02ae {border-radius: 0; padding-left: 15px;}

::-webkit-scrollbar { display: none !important;}.note-3HfJZ5 { margin-right: 0; }.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.member-3-YXUe, [id*="private-channels-"] { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;}.content-1LAB8Z, .item-1tOPte { margin-right: 8px;}.scroller-2hZ97C { padding-left: 0;}.scroller-2hZ97C > .content-3YMskv, .buttons-3JBrkn, .messagesPopout-24nkyi { padding-right: 10px !important; }.inviteRow-2L02ae {border-radius: 0; padding-left: 15px;}

/* Vizality - Better Spotify seek bar */
.spotify-in-discord-player-seek-bar { position: absolute; bottom: 0px;width: 240px;height: 52px !important;-webkit-mask-image: linear-gradient(0.25turn, #0009, #00000021);mask-image: linear-gradient(0.25turn, #0009, #0003);}.spotify-in-discord-player > .container-3baos1 > .spotify-in-discord-player-inner > .avatarWrapper-2yR4wp, .spotify-in-discord-player > .container-3baos1 > .spotify-in-discord-player-inner > .hoverRoll-YK53gQ { z-index: 3; }.spotify-in-discord-player-controls > .button-14-BFJ.enabled-2cQ-u7:hover { background-color: transparent;}.spotify-in-discord-player-seek-bar-cursor { display: none;} .spotify-in-discord-player .container-3baos1 { margin-bottom: 0;}

/* Powercord - Better Spotify seek bar */
.panels-j1Uci_ .powercord-spotify .spotify-seek { position: relative; margin-top: 0;} .powercord-spotify > .container-3baos1 { margin-bottom: 0;}.panels-j1Uci_ .powercord-spotify .spotify-seek-bar { position: absolute; bottom: -3px;width: 240px;height: 55px;-webkit-mask-image: linear-gradient(0.25turn, #0009, #0003);mask-image: linear-gradient(0.25turn, #0009, #0003);}.panels-j1Uci_ .powercord-spotify > .container-3baos1 > .avatarWrapper-2yR4wp, .panels-j1Uci_ .powercord-spotify > .container-3baos1 > .nameTag-3uD-yy, .spotify-buttons, .spotify-seek-duration { z-index: 1; }.spotify-seek-elements{display: none !important;} .powercord-spotify { height: 55px;} .powercord-spotify .button-14-BFJ:hover { background-color: transparent;}

/* Better Spotify plugin seek bar */
.container-6sXIoE { border-bottom: none !important; margin-bottom: 0 !important;}.container-6sXIoE .timeline-UWmgAx { position: relative !important;}.container-6sXIoE .bar-g2ZMIm { position: absolute !important; bottom: -6px !important; left: -8px !important; width: 240px !important; height: 53px !important;margin: 0 !important;-webkit-mask-image: linear-gradient(0.25turn, #0008, #0002) !important;mask-image: linear-gradient(0.25turn, #0008, #0002) !important;border-radius: 0 !important;}.barFill-Dhkah7 { border-radius: 0 !important;}.container-6sXIoE.maximized-vv2Wr0 .bar-g2ZMIm { height: 88px !important;}.container-6sXIoE .button-14-BFJ:hover { background-color: transparent !important;}.barFill-Dhkah7, .timeline-UWmgAx:hover .barFill-Dhkah7 { background: var(--spotify-color) !important;}.inner-WRV6k5 { z-index: 1 !important;}.barText-lmqc5O, .grabber-7sd5f5 { display: none !important;}
.container-6sXIoE { border-bottom: none !important; padding-top: 0 !important; margin: 0 !important;}
.container-6sXIoE .timeline-UWmgAx { position: absolute !important; left: 0px !important;width: 240px !important; height: 53px !important;margin: 0;-webkit-mask-image: linear-gradient(0.25turn, #0008, #0002) !important;mask-image: linear-gradient(0.25turn, #0008, #0002) !important;border-radius: 0 !important;}.bar-g2ZMIm .barFill-Dhkah7 { border-radius: 0 !important;}.container-6sXIoE.maximized-vv2Wr0 .bar-g2ZMIm { height: 87px !important;}.container-6sXIoE .button-14-BFJ:hover { background-color: transparent !important;}.barFill-Dhkah7, .timeline-UWmgAx:hover .barFill-Dhkah7 { background: var(--spotify-color) !important;}.inner-WRV6k5 { z-index: 1 !important;}.barText-lmqc5O, .grabber-7sd5f5 { display: none !important;}.container-6sXIoE .bar-g2ZMIm { width: 100% !important; height: 100% !important; margin-bottom: 0 !important;}    

/* User popout animation */
.headerPlaying-j0WQBV.header-2BwW8b, .headerSpotify-zpWxgT.header-2BwW8b, .headerStreaming-2FjmGz.header-2BwW8b, .headerXbox-3G-4PF.header-2BwW8b { padding-bottom: 30px;}.headerPlaying-j0WQBV.header-2BwW8b:after, .headerSpotify-zpWxgT.header-2BwW8b:after, .headerStreaming-2FjmGz.header-2BwW8b:after, .headerXbox-3G-4PF.header-2BwW8b:after { background: url('https://nyri4.github.io/Comfy/assets/wave.png'); background-size: 250px 20px; animation: animate 6s linear infinite !important; opacity: 1 !important;}.header-2BwW8b:after, .headerPlaying-j0WQBV:before, .headerSpotify-zpWxgT:before, .headerStreaming-2FjmGz:before, .headerXbox-3G-4PF:before { position: absolute;content: "";bottom: -1px;left: 0;width: 250px;height: 20px;z-index: -1;animation: animate2 4s linear infinite;animation-delay: 0s;opacity: 0.5;}.headerPlaying-j0WQBV:before { background: url('https://nyri4.github.io/Comfy/assets/wave_playing.png'); background-size: 250px 20px;}.headerSpotify-zpWxgT:before { background: url('https://nyri4.github.io/Comfy/assets/wave_spotify.png'); background-size: 250px 20px;}.headerStreaming-2FjmGz:before { background: url('https://nyri4.github.io/Comfy/assets/wave_streaming.png'); background-size: 250px 20px;}.headerXbox-3G-4PF:before { background: url('https://nyri4.github.io/Comfy/assets/wave_xbox.png'); background-size: 250px 20px;}@keyframes animate { 0% { background-position-x: 0;} 100% { background-position-x: 250px;}}@keyframes animate2 {0% { background-position-x: 250px; } 100% { background-position-x: 0px;}}

.headerPlaying-j0WQBV.header-2BwW8b, .headerSpotify-zpWxgT.header-2BwW8b, .headerStreaming-2FjmGz.header-2BwW8b, .headerXbox-3G-4PF.header-2BwW8b { padding-bottom: 30px;}.headerPlaying-j0WQBV.header-2BwW8b:after, .headerSpotify-zpWxgT.header-2BwW8b:after, .headerStreaming-2FjmGz.header-2BwW8b:after, .headerXbox-3G-4PF.header-2BwW8b:after { background: url('https://nyri4.github.io/Comfy/assets/wave.png'); background-size: 250px 20px; animation: animate 6s linear infinite !important; opacity: 1 !important;}.header-2BwW8b:after, .headerPlaying-j0WQBV:before, .headerSpotify-zpWxgT:before, .headerStreaming-2FjmGz:before, .headerXbox-3G-4PF:before { position: absolute;content: "";bottom: -1px;left: 0;width: 250px;height: 20px;z-index: -1;animation: animate2 4s linear infinite;animation-delay: 0s;opacity: 0.5;}.headerPlaying-j0WQBV:before { background: url('https://nyri4.github.io/Comfy/assets/wave_playing.png'); background-size: 250px 20px;}.headerSpotify-zpWxgT:before { background: url('https://nyri4.github.io/Comfy/assets/wave_spotify.png'); background-size: 250px 20px;}.headerStreaming-2FjmGz:before { background: url('https://nyri4.github.io/Comfy/assets/wave_streaming.png'); background-size: 250px 20px;}.headerXbox-3G-4PF:before { background: url('https://nyri4.github.io/Comfy/assets/wave_xbox.png'); background-size: 250px 20px;}@keyframes animate { 0% { background-position-x: 0;} 100% { background-position-x: 250px;}}@keyframes animate2 {0% { background-position-x: 250px; } 100% { background-position-x: 0px;}}

.customEmojiPlaceholder-37iZ_j { background-image: url("https://discord.com/assets/66f6c781fe86c346fbaf3390618668fc.svg");}
.navList-2UtuhC > #sticker-picker-tab  > .navButton-2gQCx-:after { background-image:url("https://images-ext-2.discordapp.net/external/HbBmA4gs0tavZMLCDG6n55xeLkI2HTlpg7Qt3_YzTKs/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/stickers.png");}
.navList-2UtuhC > #emoji-picker-tab  > .navButton-2gQCx-:after { background-image:url("https://discord.com/assets/66f6c781fe86c346fbaf3390618668fc.svg");}
.topSectionNormal-2-vo2m > div > div:first-of-type:not(.activity-1ythUs) .tabBar-2MuP6-::after  { background: url('https://images-ext-2.discordapp.net/external/9nZmISmmd-jVLo44Qv6wCohHYnSDJz_dq0RV2pZrXfQ/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/bonfire.gif') center no-repeat; background-size: 25%;}
[aria-controls="USER_INFO-tab"]:after { background-image:url("https://images-ext-1.discordapp.net/external/PsJ_-CCyxZnv1Tdsr6C8juWDkb7RCc6dREpwijtXu6E/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/user.png");}
[aria-controls="MUTUAL_GUILDS-tab"]:after { background-image: url("https://images-ext-1.discordapp.net/external/YdgRbc6Hs3ee9ehv5jSyri7Ce6nB2IX5P5U1hSQ7pas/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/guild.png");}
[aria-controls="MUTUAL_FRIENDS-tab"]:after { background-image:url("https://images-ext-1.discordapp.net/external/q2GDnIwCktkquekMt4m7tgo5kw-EsIcMesdfN41oCCI/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/friend.png");}
[src="https://cdn.discordapp.com/icons/811203761619337259/0564a75bda132490421a8d4cccb0ea1c.webp?size=128"] { content: url('https://images-ext-2.discordapp.net/external/9nZmISmmd-jVLo44Qv6wCohHYnSDJz_dq0RV2pZrXfQ/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/bonfire.gif');}
.headerPlaying-j0WQBV.header-2BwW8b:after, .headerSpotify-zpWxgT.header-2BwW8b:after, .headerStreaming-2FjmGz.header-2BwW8b:after, .headerXbox-3G-4PF.header-2BwW8b:after { background: url('https://images-ext-2.discordapp.net/external/vpy3zIyjfmBrL9cOvIAoqAHaryjKnwviPOdBCcu0sDY/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/wave.png'); background-size: 250px 20px;}
.headerSpotify-zpWxgT:before { background: url('https://images-ext-1.discordapp.net/external/aHHX4kechUjmyqC7rKLMCmZ8r9Sd0ZLh9RMxe1b20kI/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/wave_spotify.png');background-size: 250px 20px;}}
.headerPlaying-j0WQBV:before { background: url("https://images-ext-2.discordapp.net/external/lDp5S2Vugep3b-MSwzQkitaLFUeSYTL-A58vTnU7lBI/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/wave_playing.png"); background-size: 250px 20px;}
.headerStreaming-2FjmGz:before { background: url("https://images-ext-2.discordapp.net/external/Gm3-gbxGT7bFmoCwotgZtU2Axe4NpAMLW7RsEX7To8A/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/wave_streaming.png"); background-size: 250px 20px;}
.headerXbox-3G-4PF:before { background: url("https://images-ext-2.discordapp.net/external/O46Yuxf4q_N2C-1ITkJGJgwnOszxMMcZNp2lYV2ZvpU/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/wave_xbox.png"); background-size: 250px 20px;}
