@import "https://nyri4.github.io/Comfy/betterdiscord/main.css";

:root { 

/* ═══════『 🖼️ ・ Background in the status picker 』═══════
*
*   ➥ Image : Replace the url of the current image with yours
*
*   ➥ Color : Delete the url("https://mywebsite/example.png") and replace it by an HEX color
*
*   ℹ️ : This background isn't and cannot be linked to the new Nitro banners or USRBG 
*/

--status-background: /* Hosted in The Main File */;

/* ═══════『 ⚙️ / 🎤 / 🎧 ・ User button 』═══════
*
*   ➥ A higher value will means more space between the icons and a lower ...
*
*    ℹ️ : If you want to revert those to the old area, join the support server and check #css-snippets
*
*/

/* Spacing - Default value : 8px */
--user-buttons-spacing: 8px;

/* Color - Default value : #096DC0 */
--user-buttons-color: var(--mention-color);

/* ═══════『 ⭕ Roundness settings 』═══════
*
*    ➥ A higher value will means more rounded corners and a lower ...
*       0 ➜ Square
*       25 ➜ Circle
*/

/* Avatars - Default value : 5px */
--avatar-radius: /* Hosted in The Main File */;  

/* Status - Default value : 3px */
--status-radius: /* Hosted in The Main File */; 

/* Servers - Default value : 8px */
--server-radius: /* Hosted in The Main File */;

/* ═══════『 😃 Colored emoji picker 』═══════
*   Change the value to "100%" if you want the default one */

--colored-emoji: /* Hosted in The Main File */;

/* ═══════『 📜 Server/channel list 』═══════ */

/* Mention - Default value : #F04747 */
--mention-color: /* Hosted in The Main File */;

/* Unread - Default value : #7289DA */
--unread-color: #7289DA;

/*  『 🔴 Mention colors in chat 』 */

/* Bar on the right - Default value : #C66262 */
--mention-color-bar: var(--mention-color);

/* Background - Default value : #C662621F */
--mention-color-background: var(--mention-color-hover);

/* On hover - Default value : #C6626226 */
--mention-color-hover: #7289da26;

/* ═══════『 💬 Chat buttons 』═══════ */

/* Default value : #7289DA */
--chat-buttons: var(--mention-color);

/* ═══════『 💬 SpotifyControls seek bar 』═══════
*   ℹ️ : If you don't have the plugin : https://betterdiscord.app/plugin/SpotifyControls */

/* Default value : #1EDC62 */
--spotify-color: #1EDC62;

/* ═══════『 🟢 Status 』═══════ */

/* Online - Default value : #43B581 */
--online: var(--mention-color);

/* Iddle - Default value : #FAA61A */
--iddle: /* Hosted in The Main File */;

/* Do Not Disturb - Default value : #F04747 */
--dnd: /* Hosted in The Main File */;

/* Offline - Default value : #747F8D */
--offline: /* Hosted in The Main File */;

/* Streaming - Default value : #593695 */
--streaming: #593695;

/* ═══════『 🔰 Role circle in user popout 』═══════
*   Default value : 5px */

--role-circle: 5px;

/* ═══════『 🗑️ Discord logo 』═══════
*   Set it to "block" if you still want it */

--discord-logo: block;

}


/* Comfy Dark Scheme Note: Does Not Support Light Theme */ 
:root.theme-dark {
    --background-primary: #23283D;
    --background-secondary: #1E2233;
    --background-secondary-alt: #191F2E;
    --background-tertiary: #101320;
    --background-mobile-primary: #23283D;
    --background-mobile-secondary: #1E2233;
    --channeltextarea-background: #191F2E;
    --background-accent: #7289DA;
    --background-message-hover: transparent;
    --background-modifier-hover: #1C2030;
    --background-modifier-active: #1A1E2E;
    --background-modifier-selected: #191F2E;
    --deprecated-card-bg: #12141F63;
    --background-floating: #101320;
    --deprecated-quickswitcher-input-background:#101320;
    --elevation-low: none;
    --scrollbar-auto-thumb: #121722;
    --scrollbar-auto-track: #191F2E;
    --scrollbar-thin-thumb: #141925;
    --activity-card-background: #101320;
}

/* Comfy Light Scheme Note: Does Not Support Light Theme */ 
:root.theme-light {
    --background-primary: #23283D;
    --background-secondary: #1E2233;
    --background-secondary-alt: #191F2E;
    --background-tertiary: #101320;
    --background-accent: #7289DA;
    --background-modifier-hover: #262B41;
    --background-modifier-active: #262B41;
    --header-primary: #FFF;
    --header-secondary: #B1B5B9;
    --text-normal: #8E9297;
}

/* Status Picker USRBG Fix */
:root .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp[aria-expanded=true] .wrapper-3t9DeA::before {
  content: "" !important;
  position: absolute;
  top: -13px;
  left: -85px;
  width: 230px;
  height: 140px;
  pointer-events: none;
  background-color: var(--background-secondary-alt);
  background: var(--user-background, var(--status-background));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  -webkit-mask: linear-gradient(black, transparent 100%);
  mask: linear-gradient(black, transparent 100%);
  opacity: 0.8;
}

/* It'sJustJosh */
[user_by_bdfdb="362628885361197056"] + *,
[data-user-id="362628885361197056"] + *,
[vz-user-id="362628885361197056"] + *,
[data-author-id="362628885361197056"] + *,
[style*="362628885361197056"] + *,
[src*="362628885361197056"] + *,
img[src*="362628885361197056"] + *,
[aria-label^="It'sJustJosh"] + * {
--USRBG-banner-height: /* Comfy 60% */ /*57.3%*/ 60% !important;
--user-background:
url('https://media.discordapp.net/attachments/751155896024826018/878581917312749629/decorate.png') center !important;
}
/*Joshua Malava#0079*/
[data-author-id="750781478991954031"],
[vz-user-id="750781478991954031"],
[data-user-id="750781478991954031"],
[user_by_bdfdb="750781478991954031"],
[aria-label^="Joshua Malava"] {
--USRBG-banner-height: /* Comfy 60% */ /*57.3%*/ 60% !important;
--user-background:
url('https://media.discordapp.net/attachments/751155896024826018/878581917312749629/decorate.png') center !important;
}

/* User Modal / Userpopouts */
#app-mount .userPopout-xaxa6l .popoutBanner-19WKGg,
#app-mount .userPopout-xaxa6l .profileBanner-33-uE1 {
	height: 120px !important;
	max-height: var(--user-background, 60px) !important;
}
#app-mount .root-3QyAh1 .profileBanner-33-uE1 {
	height: 240px !important;
	max-height: var(--user-background, 120px) !important;
}
#app-mount .popoutBanner-19WKGg::before,
#app-mount .profileBanner-33-uE1::before {
	content: "";
	position: absolute;
	background: #000 var(--user-background) var(--user-popout-position, center)/cover no-repeat;
	background-attachment: var(--user-background, fixed);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#app-mount .userPopout-xaxa6l .avatarPositionNormal-aZjAsn {
	top: 76px !important;
	margin-top: var(--user-background, -60px) !important;
}
#app-mount .userPopout-xaxa6l .headerTop-3vNv-a {
	padding: 58px 16px 16px;
}
#app-mount .root-3QyAh1 .headerTop-54GTz {
	min-height: 32px;
}
/* Main Modal */
#app-mount .header-QKLPzZ {
	transform: translateZ(0);
}

#app-mount .header-4zuFdR .wrapper-3t9DeA::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--USRBG-banner-height, 100%);
	opacity: 0.40;
	pointer-events: none;
	background: var(--user-background) center/cover no-repeat;
}

#app-mount .headerInfo-30uryT {
	position: relative;
	z-index: 1;
}

.profileBanner-33-uE1 {
	opacity: 0;
}


/* ═══════『 🚫 ・ No scrollbars 』- Comment the line below if you want the scrollbar back */
::-webkit-scrollbar { display: none;}.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.container-2Pjhx- { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;} .buttons-3JBrkn { padding-right: 10px !important;}/* ═══════『 🎵 ・ Better SpotifyControls seek bar 』- Comment the line below if you want the dafault one */
.container-6sXIoE { border-bottom: none !important; margin-bottom: 0 !important;}.container-6sXIoE .timeline-UWmgAx { position: relative !important;}.container-6sXIoE .bar-g2ZMIm { position: absolute !important; bottom: -6px !important; left: -8px !important; width: 240px !important; height: 53px !important;margin: 0 !important;-webkit-mask-image: linear-gradient(0.25turn, #0008, #0002) !important;mask-image: linear-gradient(0.25turn, #0008, #0002) !important;border-radius: 0 !important;}.barFill-Dhkah7 { border-radius: 0 !important;}.container-6sXIoE.maximized-vv2Wr0 .bar-g2ZMIm { height: 88px !important;}.container-6sXIoE .button-14-BFJ:hover { background-color: transparent !important;}.barFill-Dhkah7, .timeline-UWmgAx:hover .barFill-Dhkah7 { background: var(--spotify-color) !important;}.inner-WRV6k5 { z-index: 1 !important;}.barText-lmqc5O, .grabber-7sd5f5 { display: none !important;}
