/* Other Imports */
@import url("https://nyri4.github.io/Discolored/main.css");
@import url('https://discord-custom-gradient-names.github.io/gradient/dist/main.min.css');
/* Usrbg/BetterBG */
@import url('https://flashc0rd.github.io/BetterBG/bg/backgrounds.css');
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://raw.githack.com/v-briese/Channel-Icons/main/channelicons.theme.css");
@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/CustomHighlightColor/highlight.css");
@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/TextStatusIndicators/textstatus.css");
@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/BetterChannelIndicators/indicators.css");
/*  TheRealGWJosh's Content */

/* Customcord?? */
@import url("https://therealgwjosh.github.io/CustomCord/src/alt.css");

/* Revolution's Main Imports */
@import url("https://therealgwjosh.github.io/Revolution/src/app/USRBG/BetterFreinds.css");
@import url("https://therealgwjosh.github.io/Revolution/src/app/main/colorful-urls.css");

/* Import the Name Gradient Database */
@import url('https://discord-database.github.io/Gradient-Names/src/database.css');

/* BetterBG Import*/
@import url('https://flashc0rd.github.io/BetterBG/src/extra/modals.css');
@import url('https://flashc0rd.github.io/BetterBG/src/userPopouts.css');
@import url('https://flashc0rd.github.io/BetterBG/bg/backgrounds.css');
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/* AddonPack+ Content */
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Call-BG.css");
/*@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Compact-Sidebar.css");*/
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/UserWindow.css");
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Minimal-Members.css");
/*------------------------------------------------------------------------------------------*/
:root {
--channeltextarea-background: var(--background-secondary-alt);
--replying-side: rgb(2, 183, 87);
--replying-default: rgba(2, 183, 87, 0.05);
--replying-hovered: rgba(2, 183, 87, 0.12);
--local-bot-side: rgb(240, 71, 71);
--local-bot-default: rgba(240, 71, 71, 0.05);
--local-bot-hover: rgba(240, 71, 71, 0.12);
--unread-badge: rgba(255, 255, 255, 0.6) !important;
--unread-bg: rgba(255, 255, 255, 0.01) !important;
--selected-badge: rgb(112, 135, 215) !important;
--selected-bg: rgba(112, 135, 215, 0.1) !important;
--hovered-bg: rgba(79, 84, 92, 0.25) !important;
--bg-rounding: 0px 10px 10px 0px !important;
--border-line-type: solid !important;
/* For more info on different border line types, visit https://css-tricks.com/almanac/properties/b/border/ */
--tooltip-color: rgba(95, 118, 202, 0.5);
--tooltip-blur: blur(1.5px);
--border-radius: 15px 15px 0 0;
--left-radius: 5px;
--right-radius: 5px; 
--background-message-hover: transparent;
--newmessagesbar: rgba(165, 22, 22, 0.986); /* Change colour here for change */
/* For UserStatus */
--streaming:rgb(89, 54, 149);
--csbg: var(--status-background)!important;
--chat-buttons: var(--mention-color)!important;
}
/*------------------------------------------------------------------------------------------*/
/* Colorful Chatbar */
.sprite-2iCowe {
filter: grayscale(0%) !important;}
.stickerButton-3OEgwj {
background: url("https://cdn.discordapp.com/attachments/751155896024826018/851923776672104518/stickers.png");
background-size: 20px;
background-position-x: 5px;
background-position-y: 5px;
background-repeat: no-repeat;}
.icon-3D60ES {
background: url("https://cdn.discordapp.com/attachments/751155896024826018/851920865511079996/unknown.png");
background-size: 20px;
background-position-x: 2px;
background-position-y: 4px;
background-repeat: no-repeat;}
[aria-label="Send a gift"] {
background: url("https://cdn.discordapp.com/attachments/751155896024826018/851926915350134834/unknown.png");
background-size: 25px;
background-position-x: 13px;
background-position-y: 15px;
background-repeat: no-repeat;}
.contents-18-Yxp, .button-3AYNKb, .button-318s1X path {fill: transparent;}
/* setting button spinning */
@keyframes spin { from { transform: rotate(0deg); }
to { transform: rotate(360deg); } }
.button-14-BFJ[aria-label="User Settings"]:hover svg { animation: spin 2s linear infinite; }
/*------------------------------------------------------------------------------------------*/
/* New Closed Folder Icons */
.closedFolderIconWrapper-2sTcE6 {
display: flex;
justify-content: center;
align-items: center; }
.closedFolderIconWrapper-2sTcE6 * {
display: none; }
.closedFolderIconWrapper-2sTcE6::after {
content: '';
width: 24px;
height: 24px;
position: relative;
display: block;
background: var(--mention-color);
-webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="false" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"/></svg>') center/contain no-repeat; }
/*------------------------------------------------------------------------------------------*/
/* Resizing the Emoji and making it large */
.emojiSection-3Fb9ix img {
margin: auto;
min-width: 80%;
height: auto !important;
}
/* Resizing the Emoji and making it large End */
/* Text Wrapping */
.emojiSection-3Fb9ix > .noWrap-3jynv6, .emojiSection-3Fb9ix{
flex: wrap;
flex-direction: column !important;
}
/* Text Wrapping End */
/* Adjusting the text weight and aligning it to center */
.emojiName-27Bjxw {
font-weight: 600;
margin-top: 8px;
text-align: center;
/* Adjusting the text weight and aligning it to center End */
/*------------------------------------------------------------------------------------------*/
/* New Loading Screen Works Offline too */
.container-16j22k {background: transparent; pointer-events: none}
.container-16j22k>div {display: none}
.container-16j22k::before {
content: "Lodaing Discord, Maybe Check Your Internet You Might Be Offline?";
display: block;
bottom: 24px; right: 24px;
position: absolute;
padding: 8px 16px;
background-color: #f04747;
border-radius: 4px;
color: #fff;
font-weight: 500
}
/*------------------------------------------------------------------------------------------*/
